@CHARSET "UTF-8";
.formularioCorpo{
	
	width: 66%;
	height: 873px;
	
	margin-top: 5%;
	
	margin: 50px auto 100px auto;
	
	color: red;
	
}

#page-vraper{ 
	color: black;
}

.page-vraper{
	color: black;
	
}

.organizar{
	
	margin-left: 5%;
	margin-top: 8%;
}










	
